numpy==1.21.5
scipy==1.10.1 
matplotlib==3.7.1 
matplotlib-inline==0.1.6
pandas==1.5.3
seaborn==0.12.2 
Pillow==9.4.0 
h5py==3.7.0
Fiona==1.8.22 
rasterio==1.2.10 
geopandas==0.9.0 
Rtree==1.0.1
geojson 
pydot 
pydotplus 
pyaml==20.4.0
scikit-learn==1.2.2 
torch==2.0.1 
torchvision==0.15.2 
torchviz==0.0.2
torch_optimizer
pytorch_warmup
albumentations
Scrapy==2.8.0 
beautifulsoup4==4.12.2 
lxml==4.9.2 
jsonlib-python3==1.6.1
opencv-python-headless 
tqdm==4.65.0 
graphviz==0.20.1
notebook==7.2.2
tornado==6.2
PyYAML==6.0 
Jinja2==3.1.2 
Markdown==3.4.1 
openpyxl==3.0.10 
pytest-shutil
